
{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}


{% block content %}



<h1>{{ ad_detail.title_ad }}</h1>

<style>

.shadowbox {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}


</style>
        <div class="shadowbox">
            <p></p>
                <table align="center">
                    <tr><td align="left">{{ ad_detail.text_ad | safe }}</td></tr>
                    <tr><td align="right"> Дата публикации статьи: {{ ad_detail.date_time | date:'d M Y' }}</td></tr>
                    <tr>
                        <td align="right"> Категория:</td>
                        <td> {{ ad_detail.category }} </td>
                    </tr>

                </table>
            <p></p>
        </div>

<div>

        {% if feedbacks %}
            <table border="3" cellpadding="4" cellspacing="1">
                <tr>
                    <td align="left">Автор</td>
                    <td align="left">Текст отклика</td>
                    <td align="left">Дата</td>

                </tr>

                {% for feedback in feedbacks%}
                <tr>
                    <td>{{ feedback.user_id }}</td>
                    <td>{{ feedback.text_feedback }}</td>
                    <td>{{ feedback.date_time | date:'d M Y' }}</td>

                </tr>
                {% endfor %}
            </table>

        {% else %}
        <h4>Откликов нет!</h4>
        {% endif%}

</div>

<div>
    {% if author_ad %}
        <form action="{% url 'ad_update' ad_detail.pk %}"> <button>Изменить объявление</button> </form>
    {% endif %}
</div>



<div>
    <p></p>
    <p></p>


    {% if not_author_ad %}
            <form action="{% url 'create_feedback' ad_detail.pk %}" method="post">
            {% csrf_token %}
            <textarea name="text" style="width:250px;height:150px;"></textarea>
            <input type="submit" value="Откликнутся на объявление">
        </form>
    {% endif%}

</div>

{% endblock content %}