{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Объявления
{% endblock title %}


{% block content %}
<h2>Добро пожаловать {{current_user}} в личный кабинет</h2>


<button> <a href="/accounts/logout/"> Выйти </a></button>
<button> <a href="/personal_account/subscribe"> Подписаться на новости </a></button>
<button> <a href="/personal_account/unsubscribe"> Отписаться от новостей </a></button>



        <form action="" method="get">
            {{ filterset.form.as_table }}

            <input type="submit" value="Найти" />
        </form>



<style>

    .shadowbox {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}


.paginate {
  width: 100%;
  position: fixed;
  bottom: 1%;
  right: 0%;
}



td {

    border: 2px black

}

</style>


{% if personal_list %}
            <table border="3" cellpadding="4" cellspacing="1" width="100%">

                <tr>

                    <td align="left" width="10%">Автор</td>
                    <td align="left" width="60%">Отклик</td>

                </tr>

                {% for feedback in personal_list %}
                <tr>

                    <td>{{ feedback.user_id }}</td>
                    <td>{{ feedback.text_feedback }}</td>
                    <td>
                        <form action="{% url 'delete_feedback' feedback.pk %}" method="post">
                        {% csrf_token %}

                        <input type="submit" value="Удалить">
                        </form>
                    </td>

                    <td>
                        {% if feedback.feedback_received %}
                            <h2>Отклик принят</h2>
                        {% else %}
                            <form action="{% url 'take_feedback' feedback.pk %}" method="post">
                            {% csrf_token %}

                            <input type="submit" value="Принять">
                            </form>
                        {% endif%}
                    </td>



                </tr>





                {% endfor %}
            </table>

        {% else %}
        <h2>Откликов нет!</h2>
        {% endif%}






<div class="paginate">

    {% if page_obj.has_previous %}

       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</div>


{% endblock content %}